/* .home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #0ef;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700px;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content img {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  box-shadow: 0 0 20px #0ef;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.7s;
  transition: 1s ease;
} */

/* ====================== RESPONSIVE STYLE ====================== */
/* 
@media (max-width: 767px) {
  .home {
    padding: 70px 5% 70px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .home-content h3 {
    font-size: 1.35rem;
    font-weight: 700;
  }

  .home-content h3:nth-of-type(2) {
    margin-bottom: 15px;
  }

  .home-content h1 {
    font-size: 2.35rem;
    font-weight: 700;
    margin: -3px 0;
  }

  .home-content p {
    font-size: 1.1rem;
  }

  .home-content img {
    height: 13rem;
    width: 13rem;
  }
} */
