/* --- Header --- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #051129;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.15rem 10%;
    z-index: 2000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    height: 4rem;
    width: 4rem;
    margin: 0;
    padding: 0;
    border-radius: 170px;
    box-shadow: 0 0 20px #0ef;
    position: relative;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.menu-btn {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

.menu-btn:hover {
    transform: scale(1.1);
}

/* --- Sidebar (Desktop Default) --- */
header nav {
    position: static;
    right: 0;
    width: auto;
    height: auto;
    flex-direction: row;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    border: none;
    padding-top: 0;
    display: flex;
}

.close-btn {
    display: none;
}

header nav a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    letter-spacing: 0.5px;
    transform: .3s;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

header nav a:hover {
    color: #0ef;
    /* background: rgba(255, 255, 255, 0.1);
    transform: translateY(-3px); */
}

.overlay {
    display: none;
}

/* ====================== RESPONSIVE STYLE ====================== */

@media (max-width: 767px) {

    .menu-btn {
        display: block;
    }

    header {
        padding: 0.15rem 5%;
    }

    .logo {
        height: 3rem;
        width: 3rem;
    }

    header nav {
        position: fixed;
        top: 0;
        right: -400px;
        width: 50%;
        height: 100%;
        background: rgba(30, 30, 30, 0.5);
        backdrop-filter: blur(20px);
        border-left: -1px solid rgba(255, 255, 255, 0.1);
        box-shadow: -6px 0 20px rgba(0, 0, 0, 0.3);
        flex-direction: column;
        padding-top: 70px;
        transition: right 0.5s ease;
        z-index: 1500;
    }

    header nav.active {
        right: 0;
    }

    .close-btn {
        display: block;
        position: absolute;
        top: 18px;
        right: 20px;
        font-size: 26px;
        /* margin: 0.15rem 11%; */
        color: white;
        cursor: pointer;
        background: none;
        border: none;
        transition: transform 0.2s ease;
    }

    .close-btn:hover {
        transform: rotate(90deg);
    }

    header nav a {
        padding: 15px 35%;
        margin: 0;
        width: 100%;
        display: block;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        background: rgba(30, 30, 30, 0.5);
    }

    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(4px);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 1000;
    }

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }

}
