.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  transition: 0.5s ease;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow:
    0 0 5px #0ef,
    0 0 25px #0ef;
}

.btn-box:hover {
  box-shadow:
    0 0 5px cyan,
    0 0 25px cyan,
    0 0 50px cyan,
    0 0 100px cyan,
    0 0 200px cyan;
}
