@import url(https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css);
@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #081b29;
  font-family: "poppins", sans-serif;
  color: #ededed;
  overflow-x: hidden;
}

@theme {
  --animate-slideTop: slideTop 1s ease forwards;
  --animate-slideBottom: slideBottom 1s ease forwards;
  --animate-slideLeft: slideLeft 1s ease forwards;
  --animate-slideRight: slideRight 1s ease forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
