.about {
    @include section;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
}

.section-title h2 {
    @include section-title;
}

.about-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 5rem;
}

.about-picture img {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    box-shadow: 0 0 20px #0ef;
    // opacity: 0;
    // animation: slideLeft 1s ease forwards;
    // animation-delay: .7s;
    // transition: 1s ease;
}

.about-content {
    max-width: 600px;

    h1 {
        font-size: 56px;
        font-weight: 700px;
        margin: -3px 0;
        padding-bottom: 15px;
    }

    h5 {
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    p {
        font-size: 20px;
    }

    .btn-box {
        margin-top: 40px;
    }
}