@mixin section {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    padding: 70px 10% 0;
    // border: 2px solid gray;
}

@mixin section-title {
    padding-top: .8rem;
    text-align: center;
    font-size: 45px;

    span {
        color: #0ef;
    }
}

@mixin section-title-mobile {
    padding-top: .4rem;
    font-size: 25px;

    span {
        color: #0ef;
    }
}