/* ====================== RESPONSIVE STYLE ====================== */

@media (max-width: 767px) {

  .menu-btn {
    display: block;
  }

  header {
    padding: 0.15rem 5%;
  }

  .logo {
    height: 3rem;
    width: 3rem;
  }

  header nav {
    position: fixed;
    top: 0;
    right: -400px;
    width: 50%;
    height: 100%;
    background: rgba(30, 30, 30, 0.5);
    backdrop-filter: blur(20px);
    border-left: -1px solid rgba(255, 255, 255, 0.1);
    box-shadow: -6px 0 20px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    padding-top: 70px;
    transition: right 0.5s ease;
    z-index: 1500;
  }

  header nav.active {
    right: 0;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
    font-size: 26px;
    // margin: 0.15rem 11%;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
    transition: transform 0.2s ease;
  }

  .close-btn:hover {
    transform: rotate(90deg);
  }

  header nav a {
    padding: 15px 35%;
    margin: 0;
    width: 100%;
    display: block;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    background: rgba(30, 30, 30, 0.5);
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1000;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  /* ====================Home Section==================== */

  .home {
    padding: 70px 5% 70px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .home-content h3 {
    font-size: 1.35rem;
    font-weight: 700;
  }

  .home-content h3:nth-of-type(2) {
    margin-bottom: 15px;
  }

  .home-content h1 {
    font-size: 2.35rem;
    font-weight: 700;
    margin: -3px 0;
  }

  .home-content p {
    font-size: 1.1rem;
  }



  .home-content img {
    height: 13rem;
    width: 13rem;
    // padding: ;
  }


  /* ====================About Section==================== */


  .about {
    padding: 70px 5% 0;
  }

  .section-title h2 {
    @include section-title-mobile;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    margin-top: 3rem;
  }

  .about-picture img {
    height: 13rem;
    width: 13rem;
  }

  .about-content {
    width: 100%;

    h1 {
      font-size: 2.35rem;
      font-weight: 700px;
      margin: -3px 0;
      padding: 20px 0 10px;
    }

    h5 {
      font-size: 1.35rem;
      font-weight: 700;
      padding-bottom: 8px;
    }

    p {
      font-size: 1.1rem;
    }

    .btn-box {
      margin-top: 35px;
    }
  }






  /* ====================Skills Section==================== */


  .skills {
    padding: 70px 5% 0;
  }

  .section-title h2 {
    @include section-title-mobile;
  }


}