@import url(https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    // min-height: 100vh;
    background-color: #081b29;
    font-family: 'poppins', sans-serif;
    color: #ededed;
    overflow-x: hidden;
    // user-select: none
}

@import './mixins.scss';
@import './_navbar.scss';
@import './_hero.scss';
@import './about.scss';
@import './skills.scss';
// @import "./_Sections.scss";
@import "./_footer.scss";
@import '_responsiveTablet.scss';
@import '_keyframesAnimation.scss';
@import '_responsiveMobile.scss';